 /* Wide screens */
@media only screen
and (min-width : 1224px) {
    .events-box{
      display: inline-block;
      margin-left:490px;
      margin-top:-1px;
      width: 35%;
      height: 355px;
      background-color: #1D262F;
      border: 1px solid #87B4E5;
      border-left-style: none;
      overflow: hidden;
    }
    .events-columns{
      height: 25px;
      border-bottom: 1px solid #87B4E5;
      width: 100%;
    }
    .events-columns td{
      border-right: 1px solid #87B4E5;
      border-bottom-style: none;
      text-align: center;
    }
    .events-data{
      width: 100%;
    }
    .events-data td{
      border-right: 1px solid #87B4E5;
      border-bottom: 1px solid #87B4E5;
      text-align: center;
    }
}

/* Ultra Wide screens */
@media only screen
and (min-width : 2000px) {
    .events-box{
      display: inline-block;
      margin-left:472px;
      margin-top:-1px;
      width: 26.5%;
      height: 461px;
      background-color: #1D262F;
      border: 1px solid #87B4E5;
      border-left-style: none;
      overflow: hidden;
    }
    .events-columns{
      height: 25px;
      border-bottom: 1px solid #87B4E5;
      width: 100%;
    }
    .events-columns td{
      border-right: 1px solid #87B4E5;
      border-bottom-style: none;
      text-align: center;
    }
    .events-data{
      width: 100%;
    }
    .events-data td{
      border-right: 1px solid #87B4E5;
      border-bottom: 1px solid #87B4E5;
      text-align: center;
    }
}
