/* Wide screens */
@media only screen
and (min-width : 1224px) {
    .graph-box{
        display: block;
        margin-left: 970px;
        margin-top: -905px;
        width: 49%;
        height: 542px;
        background-color: #1D262F;
        border: 1px solid #87B4E5;
        border-left: none;
        border-top: none;
        overflow: hidden;
    }
    .graph-options-box{
        background-color:#1D262F;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #87B4E5;
    }
    .symbol-search{
        display: inline-block;
        margin-top: 5px;
        margin-left: 10px;
        width: 15px;
    }
    .addIndic-btn{
        padding: 2px 3px 3px 12px;
        display: block;
        margin-top: -30px;
        margin-left: 275px;
        width: 12%;
        height: 25px;
        background-color:#242e3f;
        border: 1px solid #87B4E5;
    }
    .addIndic-btn:hover{
        background-color: #8856a7;
        cursor: pointer;
    }
    .addModel-btn{
        padding: 2px 3px 3px 19px;
        display: block;
        margin-top: -25px;
        margin-left: 405px;
        width: 12%;
        height: 25px;
        background-color:#242e3f;
        border: 1px solid #87B4E5;
    }
    .addModel-btn:hover{
        background-color: #8856a7;
        cursor: pointer;
    }
    .addSymbol-btn{
        padding: 2px 3px 3px 16px;
        display: block;
        margin-top: -25px;
        margin-left: 535px;
        width: 12%;
        height: 25px;
        background-color:#242e3f;
        border: 1px solid #87B4E5;
    }
    .addSymbol-btn:hover{
        background-color: #8856a7;
        cursor: pointer;
    }
    .timeFrame-btn{
        padding: 2px 3px 3px 20px;
        display: block;
        margin-top: -25px;
        margin-left: 665px;
        width: 12%;
        height: 25px;
        background-color:#242e3f;
        border: 1px solid #87B4E5;
    }
    .timeFrame-btn:hover{
        background-color: #8856a7;
        cursor: pointer;
    }
    .plotType-btn{
        padding: 2px 3px 3px 25px;
        display: block;
        margin-top: -25px;
        margin-left: 795px;
        width: 12%;
        height: 25px;
        background-color:#242e3f;
        border: 1px solid #87B4E5;
    }
    .plotType-btn:hover{
        background-color: #8856a7;
        cursor: pointer;
    }
}
