#newsfeed {
  background-color: #1D262F;
  grid-area: newsfeed;
  border: 1px solid #87B4E5;
  border-top: none;
}

.twitter-timeline {
    width: 99.8% !important;
}
#twitter-widget-0 {
  height: 60vh !important;
}
