#newsfeed {
  background-color: #1D262F;
  grid-area: newsfeed;
  border: 1px solid #87B4E5;
  border-top: none;
}

#div-news{
  padding: 25px 25px 25px 25px;
  color: #87B4E5;
}

.table-news{
  border: 1px solid #5C8CBE;
  border-collapse: collapse;
  background-color: #242E3F;
  color: #87B4E5;
  font-size: 12px;
}

.table-news td{
  border: 1px solid #5C8CBE;
  color: #87B4E5;
}

.table-news tr:hover{
  background-color: #8856a7;
  cursor: pointer;
}

@media only screen
and (min-width: 1224px) {
  .table-news {
    font-size: 1vi !important;
  }
}

/* Ultra Wide screens */
@media only screen
and (min-width : 2000px) {
  .table-news {
    font-size: 24px;
    width: 100%;
  }
}

