/* Wide screens */
@media only screen
and (min-width : 1224px) {
    .notes-box{
      margin-left: 25.5%;
      margin-top: -896px;
      width: 25%;
      height: 542px;
      background-color: #1D262F;
      border: 1px solid #87B4E5;
      border-left-style: none;
      border-top-style: none;
      border-bottom-style: none;
      overflow: hidden;
    }
    .notes-header{
      width: 100%;
      height: 50px;
      background-color: #1D262F;
      border-bottom: 1px solid #87B4E5;
    }
    .notes-btn1{
      padding: 2px 3px 3px 4px;
      display: inline-block;
      margin-top: 12px;
      margin-left: 20px;
      width: 15%;
      height: 25px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
    }
    .notes-btn1:hover{
      background-color: #8856a7;
      cursor: pointer;
    }
    .notes-btn2{
      padding: 2px 3px 3px 4px;
      display: inline-block;
      margin-top: 12px;
      margin-left: 20px;
      width: 15%;
      height: 25px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
    }
    .notes-btn2:hover{
      background-color: #8856a7;
      cursor: pointer;
    }
    .notes-btn3{
      padding: 2px 3px 3px 16px;
      display: inline-block;
      margin-top: 12px;
      margin-left: 20px;
      width: 15%;
      height: 25px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
    }
    .notes-btn3:hover{
      background-color: #8856a7;
      cursor: pointer;
    }
    .notes-btn4{
      padding: 2px 3px 3px 18px;
      display: inline-block;
      margin-top: 12px;
      margin-left: 20px;
      width: 15%;
      height: 25px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
    }
    .notes-btn4:hover{
      background-color: #8856a7;
      cursor: pointer;
    }
    .notes-btn5{
      padding: 2px 3px 3px 14px;
      display: inline-block;
      margin-top: 12px;
      margin-left: 20px;
      width: 15%;
      height: 25px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
    }
    .notes-btn5:hover{
      background-color: #8856a7;
      cursor: pointer;
    }
    #workspace input[type="text"]{
      border: none;
      background: none;
    }
    #workspace textarea{
      width: 100%;
      border-radius: 0px;
      border-left-style: none;
      border-right-style: none;
    }
    .wrapper{
      width: 600px;
      margin: 0px auto;
    }
    .Title{
      width: 100%;
      height: 80px;
      font-size: 48px;
      text-align: center;
      border: 0px;
      -webkit-transition: all .1s;
      font-weight: bold;
      position: relative;
    }
}

/* Ultra Wide screens */
@media only screen
and (min-width : 2000px) {
    .notes-box{
      margin-left: 18.52%;
      margin-top: -1210px;
      width: 25%;
      height: 750px;
      background-color: #1D262F;
      border: 1px solid #87B4E5;
      border-left-style: none;
      border-top-style: none;
      overflow: hidden;
    }
    .notes-header{
      width: 100%;
      height: 50px;
      background-color: #1D262F;
      border-bottom: 1px solid #87B4E5;
    }
    .notes-btn1{
      padding: 2px 3px 3px 16px;
      display: inline-block;
      margin-top: 12px;
      margin-left: 36px;
      width: 15%;
      height: 25px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
    }
    .notes-btn1:hover{
      background-color: #8856a7;
      cursor: pointer;
    }
    .notes-btn2{
      padding: 2px 3px 3px 16px;
      display: inline-block;
      margin-top: 12px;
      margin-left: 20px;
      width: 15%;
      height: 25px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
    }
    .notes-btn2:hover{
      background-color: #8856a7;
      cursor: pointer;
    }
    .notes-btn3{
      padding: 2px 3px 3px 30px;
      display: inline-block;
      margin-top: 12px;
      margin-left: 20px;
      width: 15%;
      height: 25px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
    }
    .notes-btn3:hover{
      background-color: #8856a7;
      cursor: pointer;
    }
    .notes-btn4{
      padding: 2px 3px 3px 30px;
      display: inline-block;
      margin-top: 12px;
      margin-left: 20px;
      width: 15%;
      height: 25px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
    }
    .notes-btn4:hover{
      background-color: #8856a7;
      cursor: pointer;
    }
    .notes-btn5{
      padding: 2px 3px 3px 25px;
      display: inline-block;
      margin-top: 12px;
      margin-left: 20px;
      width: 15%;
      height: 25px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
    }
    .notes-btn5:hover{
      background-color: #8856a7;
      cursor: pointer;
    }
    #workspace input[type="text"]{
      border: none;
      background: none;
    }
    #workspace textarea{
      width: 100%;
      border-radius: 0px;
      border-left-style: none;
      border-right-style: none;
    }
    .wrapper{
      width: 600px;
      margin: 0px auto;
    }
    .Title{
      width: 100%;
      height: 80px;
      font-size: 48px;
      text-align: center;
      border: 0px;
      -webkit-transition: all .1s;
      font-weight: bold;
      position: relative;
    }
}
