 /* Wide screens */
@media only screen
and (min-width : 1224px) {
    .quotes-box{
      margin-left: 0.5%;
      width: 25%;
      height: 355px;
      background-color: #1D262F;
      border: 1px solid #87B4E5;
    }
    .q1-main{
      margin-top: 10%;
      width: 30%;
      height: 100px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
    }
    .q1-main:hover{
      background-color: #8856a7;
      cursor: pointer;
    }
    .q1{
      padding: 0.5px 15px 15px 15px;
    }
    .q1-symbol{
      margin-top: 20px;
      text-align: center;
    }
    .q1-name{
      font-size: 12px;
      text-align: center;
    }
    .q1-bottom{
      display: inline-flex;
      width: 30%;
      height: 35px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
      border-top-style: none;
      text-overflow: auto;
    }
    .q1-last{
      text-align: left;
      padding-left: 5%;
      padding-top: 3.5%;
    }
    .q1-p-change{
      text-align: right;
      margin-top: 4%;
      margin-left: 30px;
    }
    .q2-main{
      margin-top: 5.2%;
      width: 45%;
      height: 100px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
    }
    .q2-main:hover{
      background-color: #8856a7;
      cursor: pointer;
    }
    .q2{
      margin-left: 33%;
      margin-top: -35%;
    }
    .q2-symbol{
      margin-top: 20px;
      text-align: center;
    }
    .q2-name{
      font-size: 12px;
      text-align: center;
    }
    .q2-bottom{
      display: inline-flex;
      width: 45%;
      height: 35px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
      border-top-style: none;
      text-overflow: auto;
    }
    .q2-last{
      text-align: left;
      padding-left: 5%;
      padding-top: 3.5%;
    }
    .q2-p-change{
      text-align: right;
      margin-top: 4%;
      margin-left: 30px;
    }
    .q3-main{
      margin-top: 5.2%;
      width: 90%;
      height: 100px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
    }
    .q3-main:hover{
      background-color: #8856a7;
      cursor: pointer;
    }
    .q3{
      margin-left: 64.8%;
      margin-top: -30.1%;
    }
    .q3-symbol{
      margin-top: 20px;
      text-align: center;
    }
    .q3-name{
      font-size: 12px;
      text-align: center;
    }
    .q3-bottom{
      display: inline-flex;
      width: 90%;
      height: 35px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
      border-top-style: none;
      text-overflow: auto;
    }
    .q3-last{
      text-align: left;
      padding-left: 5%;
      padding-top: 3.5%;
    }
    .q3-p-change{
      text-align: right;
      margin-top: 4%;
      margin-left: 30px;
    }
    .q4-main{
      margin-top: 5%;
      width: 90%;
      height: 100px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
    }
    .q4-main:hover{
      background-color: #8856a7;
      cursor: pointer;
    }
    .q4{
      margin-left: 64.8%;
      margin-top: 1%;
    }
    .q4-symbol{
      margin-top: 20px;
      text-align: center;
    }
    .q4-name{
      font-size: 12px;
      text-align: center;
    }
    .q4-bottom{
      display: inline-flex;
      width: 90%;
      height: 35px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
      border-top-style: none;
      text-overflow: auto;
    }
    .q4-last{
      text-align: left;
      padding-left: 5%;
      padding-top: 3.5%;
    }
    .q4-p-change{
      text-align: right;
      margin-top: 4%;
      margin-left: 30px;
    }
    .q5-main{
      margin-top: -35%;
      width: 30%;
      height: 100px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
    }
    .q5-main:hover{
      background-color: #8856a7;
      cursor: pointer;
    }
    .q5{
      padding: 21px 15px 15px 15px;
    }
    .q5-symbol{
      margin-top: 20px;
      text-align: center;
    }
    .q5-name{
      font-size: 12px;
      text-align: center;
    }
    .q5-bottom{
      display: inline-flex;
      width: 30%;
      height: 35px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
      border-top-style: none;
      text-overflow: auto;
    }
    .q5-last{
      text-align: left;
      padding-left: 5%;
      padding-top: 3.5%;
    }
    .q5-p-change{
      text-align: right;
      margin-top: 4%;
      margin-left: 30px;
    }
    .q6-main{
      margin-top: -53.5%;
      width: 45%;
      height: 100px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
    }
    .q6{
      margin-left: 33%;
      margin-top: -35%;
    }
    .q6-main:hover{
      background-color: #8856a7;
      cursor: pointer;
    }
    .q6-symbol{
      margin-top: 20px;
      text-align: center;
    }
    .q6-name{
      font-size: 12px;
      text-align: center;
    }
    .q6-bottom{
      display: inline-flex;
      width: 45%;
      height: 35px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
      border-top-style: none;
      text-overflow: auto;
    }
    .q6-last{
      text-align: left;
      padding-left: 5%;
      padding-top: 3.5%;
    }
    .q6-p-change{
      text-align: right;
      margin-top: 4%;
      margin-left: 18px;
    }
}


/* Ultra Wide screens */
@media only screen
and (min-width : 2000px) {
    .quotes-box{
      padding: 35px 25px 100px 25px;
      margin-left: -0.01%;
      width: 18.52%;
      height: 670px;
      background-color: #1D262F;
      border: 1px solid #87B4E5;
    }
    .q1-main{
      display: block;
      width: 175px;
      height: 125px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
    }
    .q1-main:hover{
      background-color: #8856a7;
      cursor: pointer;
    }
    .q1-symbol{
      margin-top: 20px;
      text-align: center;
    }
    .q1-name{
      font-size: 12px;
      text-align: center;
    }
    .q1-bottom{
      display: inline-flex;
      width: 175px;
      height: 35px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
      border-top-style: none;
      text-overflow: auto;
    }
    .q1-last{
      text-align: left;
      padding-left: 5%;
      padding-top: 4%;
    }
    .q1-p-change{
      text-align: right;
      margin-top: 4%;
      margin-left:75px;
      padding-right: 5%;
    }
    .q2-main{
      display: inline-block;
      margin-top: -28px;
      margin-left: 75px;
      width: 175px;
      height: 125px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
    }
    .q2-main:hover{
      background-color: #8856a7;
      cursor: pointer;
    }
    .q2-symbol{
      margin-top: 20px;
      text-align: center;
    }
    .q2-name{
      font-size: 12px;
      text-align: center;
    }
    .q2-bottom{
      display: inline-flex;
      margin-left: 75px;
      width: 175px;
      height: 35px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
      border-top-style: none;
      text-overflow: auto;
    }
    .q2-last{
      text-align: left;
      padding-left: 5%;
      padding-top: 4%;
    }
    .q2-p-change{
      text-align: right;
      margin-top: 4%;
      margin-left: 71px;
      padding-right: 5%;
    }
    .q3-main{
      margin-top: 100%;
      margin-left: -59px;
      width: 175px;
      height: 125px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
    }
    .q3-main:hover{
      background-color: #8856a7;
      cursor: pointer;
    }
    .q3{
      margin-left: 64.8%;
      margin-top: -30.1%;
    }
    .q3-symbol{
      margin-top: 20px;
      text-align: center;
    }
    .q3-name{
      font-size: 12px;
      text-align: center;
    }
    .q3-bottom{
      display: inline-flex;
      margin-left: -59px;
      width: 175px;
      height: 35px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
      border-top-style: none;
      text-overflow: auto;
    }
    .q3-last{
      text-align: left;
      padding-left: 5%;
      padding-top: 4%;
    }
    .q3-p-change{
      text-align: right;
      margin-top: 4%;
      margin-left: 56px;
    }
    .q4-main{
      margin-top: -164px;
      margin-left: -258px;
      width: 175px;
      height: 125px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
    }
    .q4-main:hover{
      background-color: #8856a7;
      cursor: pointer;
    }
    .q4{
      margin-left: 64.8%;
      margin-top: 1%;
    }
    .q4-symbol{
      margin-top: 20px;
      text-align: center;
    }
    .q4-name{
      font-size: 12px;
      text-align: center;
    }
    .q4-bottom{
      display: inline-flex;
      margin-left: -258px;
      width: 175px;
      height: 35px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
      border-top-style: none;
      text-overflow: auto;
    }
    .q4-last{
      padding-left: 5%;
      padding-top: 4%;
    }
    .q4-p-change{
      margin-top: 4%;
      margin-left: 71px;
    }
    .q5-main{
      margin-top: 1px;
      width: 175px;
      height: 125px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
    }
    .q5-main:hover{
      background-color: #8856a7;
      cursor: pointer;
    }
    .q5-symbol{
      margin-top: 20px;
      text-align: center;
    }
    .q5-name{
      font-size: 12px;
      text-align: center;
    }
    .q5-bottom{
      display: inline-flex;
      width: 175px;
      height: 35px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
      border-top-style: none;
      text-overflow: auto;
    }
    .q5-last{
      text-align: left;
      padding-left: 5%;
      padding-top: 4%;
    }
    .q5-p-change{
      text-align: right;
      margin-top: 4%;
      margin-left: 80px;
    }
    .q6-main{
      margin-top: -62%;
      margin-left: 26.5%;
      width: 175px;
      height: 125px;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
    }
    .q6-main:hover{
      background-color: #8856a7;
      cursor: pointer;
    }
    .q6-symbol{
      margin-top: 20px;
      text-align: center;
      cursor: pointer;
    }
    .q6-name{
      font-size: 12px;
      text-align: center;
    }
    .q6-bottom{
      display: inline-flex;
      width: 175px;
      height: 35px;
      margin-left: 26.5%;
      background-color:#242e3f;
      border: 1px solid #87B4E5;
      border-top-style: none;
      text-overflow: auto;
    }
    .q6-last{
      text-align: left;
      padding-left: 5%;
      padding-top: 4%;
    }
    .q6-p-change{
      text-align: right;
      margin-top: 4%;
      margin-left: 65px;
    }
}