 .twitter-news-box {
    height: 354px;
    width: 400px;
    margin-left: 1165px;
    border-bottom: 1px solid #87B4E5;
}
 
.twitter-social-box {
    display: block;
    margin-top: -355px;
    height: 355px;
    width: 360px;
    margin-left: 1550px;
    border: 1px solid #87B4E5;
}
