/* Table of contents
––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Custom App CSS
*/

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 0.5%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 8%;             }
  .two.columns                    { width: 16.25%;         }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 33%;            }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 49.75%;          }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 66.5%;          }
  .nine.columns                   { width: 77.0%; margin-left: -29px;}
  .test.columns                   { width: 300px; margin-left: 10px;  }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.5%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 7.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(50, 50, 50); }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300; }
h1 { font-size: 4.5rem; line-height: 1.2;  letter-spacing: -.1rem; margin-bottom: 2rem; }
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; margin-bottom: 1.8rem; margin-top: 1.8rem;}
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; margin-bottom: 1.5rem; margin-top: 1.5rem;}
h4 { font-size: 2.6rem; line-height: 1.35; letter-spacing: -.08rem; margin-bottom: 1.2rem; margin-top: 1.2rem;}
h5 { font-size: 2.2rem; line-height: 1.5;  letter-spacing: -.05rem; margin-bottom: 0.6rem; margin-top: 0.6rem;}
h6 { font-size: 2.0rem; line-height: 1.6;  letter-spacing: 0; margin-bottom: 0.75rem; margin-top: 0.75rem;}

p {
  margin-top: 0; }


/* Blockquotes
–––––––––––––––––––––––––––––––––––––––––––––––––– */
blockquote {
  border-left: 4px lightgrey solid;
  padding-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0rem;
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  font-size: 12px;
  color: #1EAEDB; }
a:hover {
  color: #0FA0CE; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; 
  font-family: inherit;
  font-size: inherit; /*https://stackoverflow.com/questions/6080413/why-doesnt-input-inherit-the-font-from-body*/}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: 0px; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 0rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 0rem; }
pre,
dl,
figure,
table,
form {
  margin-bottom: 0rem; }
p,
ul,
ol {
  margin-bottom: 0.75rem; }

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }



/*!
* Bootstrap v4.5.2 (https://getbootstrap.com/)
* Copyright 2011-2020 The Bootstrap Authors
* Copyright 2011-2020 Twitter, Inc.
* Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
*/

:root {
--blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #6c757d;
--gray-dark: #343a40;
--primary: #007bff;
--secondary: #6c757d;
--success: #28a745;
--info: #17a2b8;
--warning: #ffc107;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #1D262F;
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
::after,
::before {
box-sizing: border-box
}

[type=search] {
outline-offset: -2px;
-webkit-appearance: none
}

[type=search]::-webkit-search-decoration {
-webkit-appearance: none
}

@-webkit-keyframes spinner-border {
to {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg)
}
}

@keyframes spinner-border {
to {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg)
}
}

.spinner-border {
display: inline-block;
width: 2rem;
height: 2rem;
vertical-align: text-bottom;
border: .25em solid currentColor;
border-right-color: transparent;
border-radius: 50%;
-webkit-animation: spinner-border .75s linear infinite;
animation: spinner-border .75s linear infinite
}

.spinner-border-sm {
width: 1rem;
height: 1rem;
border-width: .2em
}

@-webkit-keyframes spinner-grow {
0% {
  -webkit-transform: scale(0);
  transform: scale(0)
}
50% {
  opacity: 1;
  -webkit-transform: none;
  transform: none
}
}

@keyframes spinner-grow {
0% {
  -webkit-transform: scale(0);
  transform: scale(0)
}
50% {
  opacity: 1;
  -webkit-transform: none;
  transform: none
}
}

.spinner-grow {
display: inline-block;
width: 2rem;
height: 2rem;
vertical-align: text-bottom;
background-color: currentColor;
border-radius: 50%;
opacity: 0;
-webkit-animation: spinner-grow .75s linear infinite;
animation: spinner-grow .75s linear infinite
}

.spinner-grow-sm {
width: 1rem;
height: 1rem
}

.align-baseline {
vertical-align: baseline!important
}

.align-top {
vertical-align: top!important
}

.align-middle {
vertical-align: middle!important
}

.align-bottom {
vertical-align: bottom!important
}

.align-text-bottom {
vertical-align: text-bottom!important
}

.align-text-top {
vertical-align: text-top!important
}

.bg-primary {
background-color: #007bff!important
}

a.bg-primary:focus,
a.bg-primary:hover,
button.bg-primary:focus,
button.bg-primary:hover {
background-color: #0062cc!important
}

.bg-secondary {
background-color: #6c757d!important
}

a.bg-secondary:focus,
a.bg-secondary:hover,
button.bg-secondary:focus,
button.bg-secondary:hover {
background-color: #545b62!important
}

.bg-success {
background-color: #28a745!important
}

a.bg-success:focus,
a.bg-success:hover,
button.bg-success:focus,
button.bg-success:hover {
background-color: #1e7e34!important
}

.bg-info {
background-color: #17a2b8!important
}

a.bg-info:focus,
a.bg-info:hover,
button.bg-info:focus,
button.bg-info:hover {
background-color: #117a8b!important
}

.bg-warning {
background-color: #ffc107!important
}

a.bg-warning:focus,
a.bg-warning:hover,
button.bg-warning:focus,
button.bg-warning:hover {
background-color: #d39e00!important
}

.bg-danger {
background-color: #dc3545!important
}

a.bg-danger:focus,
a.bg-danger:hover,
button.bg-danger:focus,
button.bg-danger:hover {
background-color: #bd2130!important
}

.bg-light {
background-color: #f8f9fa!important
}

a.bg-light:focus,
a.bg-light:hover,
button.bg-light:focus,
button.bg-light:hover {
background-color: #dae0e5!important
}

.bg-dark {
background-color: #343a40!important
}

a.bg-dark:focus,
a.bg-dark:hover,
button.bg-dark:focus,
button.bg-dark:hover {
background-color: #1d2124!important
}
/*# sourceMappingURL=bootstrap.min.css.map */





/* Custom App CSS
---------------------------------------*/
body{
  background-color: #242E3F;
  color: #fff;
  height: 100vh;
  margin: 0;
}


/* Wide screens */
@media only screen 
and (min-width : 1224px) {  
  .top-bar{
    width: 100%;
    height: 75px;
    background-color: #1D262F; 
  }
  
  .logo-box{
    margin-left: 0.5%;
    width: 6%;
    height: 99%;
    border: 1px solid #87B4E5;
  }
  
  .logo{
    max-width: 80px;
    margin-left: 7%;
    margin-top: 3px;
    position:relative;
  }
  
  .main-box{
    margin-left: 6.5%;
    margin-top: -74px;
    height: 98%;
    border: 1px solid #87B4E5;
    border-left-style: none;
  }
  
  .cmd-box{
    margin-top: 1%;
    margin-left: 2%;
  }
  
  .news-box{
    margin-top: -0.05%;
    margin-left: 0.5%;
    width: 25%;
    background-color: #1D262F;
    border: 1px solid #87B4E5;
    border-top-style: none;
    border-bottom-style: none;
  }
  
  .div-news{
    padding: 25px 25px 25px 25px;
    color: #87B4E5;
  }
  
  .table-news{
    border: 1px solid #5C8CBE;
    border-collapse: collapse;
    background-color: #242E3F;
    max-height: 500px;
    color: #87B4E5;
  }
  
  .table-news td{
    border: 1px solid #5C8CBE;
    color: #87B4E5;
  }
  
  .table-news tr:hover{
    background-color: #8856a7;
    cursor: pointer;
  }
  
  input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select{
    border: 1px solid #87B4E5;
    background-color:#242e3f;
    border-radius: 5px;
    color: #87B4E5;
  }

  .quotes-box{
    margin-left: 0.5%;
    width: 25%;
    height: 360px;
    background-color: #1D262F;
    border: 1px solid #87B4E5;
  }
  .q-row-1{
    margin-top: -10px;
  }

  .q1-main{
    margin-top: 10%;
    width: 30%;
    height: 100px;
    background-color:#242e3f;
    border: 1px solid #87B4E5;
  }
  .q1-main:hover{
    background-color: #8856a7;
    cursor: pointer;
  }
  .q1{
    padding: 0.5px 15px 15px 15px;
  }
  .q1-symbol{
    margin-top: 20px;
    text-align: center;
  }
  .q1-name{
    font-size: 12px;
    text-align: center;
  }
  .q1-bottom{
    display: inline-flex;
    width: 30%;
    height: 35px;
    background-color:#242e3f;
    border: 1px solid #87B4E5;
    border-top-style: none;
    text-overflow: auto;
  }
  .q1-last{
    text-align: left;
    padding-left: 5%;
    padding-top: 3.5%;
  }
  .q1-p-change{
    text-align: right;
    margin-top: 4%;
    margin-left: 30px;
  }

  .q2-main{
    margin-top: 5%;
    width: 45%;
    height: 100px;
    background-color:#242e3f;
    border: 1px solid #87B4E5;
  }
  .q2-main:hover{
    background-color: #8856a7;
    cursor: pointer;
  }
  .q2{
    margin-left: 33%;
    margin-top: -35%;
  }
  .q2-symbol{
    margin-top: 20px;
    text-align: center;
  }
  .q2-name{
    font-size: 12px;
    text-align: center;
  }
  .q2-bottom{
    display: inline-flex;
    width: 45%;
    height: 35px;
    background-color:#242e3f;
    border: 1px solid #87B4E5;
    border-top-style: none;
    text-overflow: auto;
  }
  .q2-last{
    text-align: left;
    padding-left: 5%;
    padding-top: 3.5%;
  }
  .q2-p-change{
    text-align: right;
    margin-top: 4%;
    margin-left: 30px;
  }

  .q3-main{
    margin-top: 5%;
    width: 90%;
    height: 100px;
    background-color:#242e3f;
    border: 1px solid #87B4E5;
  }
  .q3-main:hover{
    background-color: #8856a7;
    cursor: pointer;
  }
  .q3{
    margin-left: 64.8%;
    margin-top: -30.1%;
  }
  .q3-symbol{
    margin-top: 20px;
    text-align: center;
  }
  .q3-name{
    font-size: 12px;
    text-align: center;
  }
  .q3-bottom{
    display: inline-flex;
    width: 90%;
    height: 35px;
    background-color:#242e3f;
    border: 1px solid #87B4E5;
    border-top-style: none;
    text-overflow: auto;
  }
  .q3-last{
    text-align: left;
    padding-left: 5%;
    padding-top: 3.5%;
  }
  .q3-p-change{
    text-align: right;
    margin-top: 4%;
    margin-left: 30px;
  }

  .q4-main{
    margin-top: 5%;
    width: 90%;
    height: 100px;
    background-color:#242e3f;
    border: 1px solid #87B4E5;
  }
  .q4-main:hover{
    background-color: #8856a7;
    cursor: pointer;
  }
  .q4{
    margin-left: 64.8%;
    margin-top: 1%;
  }
  .q4-symbol{
    margin-top: 20px;
    text-align: center;
  }
  .q4-name{
    font-size: 11px;
    text-align: center;
  }
  .q4-bottom{
    display: inline-flex;
    width: 90%;
    height: 35px;
    background-color:#242e3f;
    border: 1px solid #87B4E5;
    border-top-style: none;
    text-overflow: auto;
  }
  .q4-last{
    text-align: left;
    padding-left: 5%;
    padding-top: 3.5%;
  }
  .q4-p-change{
    text-align: right;
    margin-top: 4%;
    margin-left: 30px;
  }

  .q5-main{
    margin-top: -35%;
    width: 30%;
    height: 100px;
    background-color:#242e3f;
    border: 1px solid #87B4E5;
  }
  .q5-main:hover{
    background-color: #8856a7;
    cursor: pointer;
  }
  .q5{
    padding: 21px 15px 15px 15px;
  }
  .q5-symbol{
    margin-top: 20px;
    text-align: center;
  }
  .q5-name{
    font-size: 12px;
    text-align: center;
  }
  .q5-bottom{
    display: inline-flex;
    width: 30%;
    height: 35px;
    background-color:#242e3f;
    border: 1px solid #87B4E5;
    border-top-style: none;
    text-overflow: auto;
  }
  .q5-last{
    text-align: left;
    padding-left: 5%;
    padding-top: 3.5%;
  }
  .q5-p-change{
    text-align: right;
    margin-top: 4%;
    margin-left: 30px;
  }


  .q6-main{
    margin-top: -53.8%;
    width: 45%;
    height: 100px;
    background-color:#242e3f;
    border: 1px solid #87B4E5;
  }
  .q6{
    margin-left: 33%;
    margin-top: -35%;
  }
  .q6-main:hover{
    background-color: #8856a7;
    cursor: pointer;
  }
  .q6-symbol{
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
  }
  .q6-name{
    font-size: 9px;
    text-align: center;
  }
  .q6-bottom{
    display: inline-flex;
    width: 45%;
    height: 35px;
    background-color:#242e3f;
    border: 1px solid #87B4E5;
    border-top-style: none;
    text-overflow: auto;
  }
  .q6-last{
    text-align: left;
    padding-left: 5%;
    padding-top: 3.5%;
  }
  .q6-p-change{
    text-align: right;
    margin-top: 4%;
    margin-left: 18px;
  }
}

/* Ultra Wide screens */
@media only screen 
and (min-width : 2000px) {
  .top-bar{
    width: 100.5%;
    height: 75px;
    background-color: #1D262F;
    margin-left: -0.5%;
  }
  
  .logo-box{
    width: 3.5%;
    height: 99%;
    border: 1px solid #87B4E5;
  }
  
  .logo{
    max-width: 80px;
    margin-left: -2%;
    margin-top: 3px;
    position:relative;
  }
  
  .main-box{
    margin-left: 4%;
    margin-top: -74px;
    height: 98%;
    border: 1px solid #87B4E5;
    border-left-style: none;
  }
  
  .cmd-box{
    margin-top: 0.68%;
    margin-left: 2%;
  }
  
  .news-box{
    margin-top: -0.05%;
    margin-left: 0.01%;
    width: 18%;
    background-color: #1D262F;
    border: 1px solid #87B4E5;
    border-top-style: none;
    border-bottom-style: none;
  }
  
  .div-news{
    padding: 25px 25px 25px 25px;
    color: #87B4E5;
  } 
  
  .table-news{
    border: 1px solid #5C8CBE;
    border-collapse: collapse;
    background-color: #242E3F;
    max-height: 500px;
    color: #87B4E5;
  }
  
  .table-news td{
    border: 1px solid #5C8CBE;
    color: #87B4E5;
  }
  
  .table-news tr:hover{
    background-color: #8856a7;
    cursor: pointer;
  }
  
  input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select{
    border: 1px solid #87B4E5;
    background-color:#242e3f;
    border-radius: 5px;
    color: #87B4E5;
  }

  .quotes-box{
    padding: 50px 25px 100px 25px;
    margin-left: -0.01%;
    width: 18%;
    height: 675px;
    background-color: #1D262F;
    border: 1px solid #87B4E5;
  }
  .q1-main{
    display: block;
    width: 175px;
    height: 125px;
    background-color:#242e3f;
    border: 1px solid #87B4E5;
  }
  .q1-main:hover{
    background-color: #8856a7;
    cursor: pointer;
  }
  .q1-symbol{
    margin-top: 20px;
    text-align: center;
  }
  .q1-name{
    font-size: 12px;
    text-align: center;
  }
  .q1-bottom{
    display: inline-flex;
    width: 175px;
    height: 35px;
    background-color:#242e3f;
    border: 1px solid #87B4E5;
    border-top-style: none;
    text-overflow: auto;
  }
  .q1-last{
    text-align: left;
    padding-left: 5%;
    padding-top: 3.5%;
  }
  .q1-p-change{
    text-align: right;
    margin-top: 3.5%;
    margin-left:70px;
    padding-right: 5%;
  }
  .q2-main{
    display: inline-block;
    margin-top: -32px;
    margin-left: 75px;
    width: 175px;
    height: 125px;
    background-color:#242e3f;
    border: 1px solid #87B4E5;
  }
  .q2-main:hover{
    background-color: #8856a7;
    cursor: pointer;
  }
  .q2-symbol{
    margin-top: 20px;
    text-align: center;
  }
  .q2-name{
    font-size: 12px;
    text-align: center;
  }
  .q2-bottom{
    display: inline-flex;
    margin-left: 75px;
    width: 175px;
    height: 35px;
    background-color:#242e3f;
    border: 1px solid #87B4E5;
    border-top-style: none;
    text-overflow: auto;
  }
  .q2-last{
    text-align: left;
    padding-left: 5%;
    padding-top: 3.5%;
  }
  .q2-p-change{
    text-align: right;
    margin-top: 3.5%;
    margin-left: 65px;
    padding-right: 5%;
  }
  .q3-main{
    margin-top: 100%;
    margin-left: -55px;
    width: 175px;
    height: 125px;
    background-color:#242e3f;
    border: 1px solid #87B4E5;
  }
  .q3-main:hover{
    background-color: #8856a7;
    cursor: pointer;
  }
  .q3{
    margin-left: 64.8%;
    margin-top: -30.1%;
  }
  .q3-symbol{
    margin-top: 20px;
    text-align: center;
  }
  .q3-name{
    font-size: 12px;
    text-align: center;
  }
  .q3-bottom{
    display: inline-flex;
    margin-left: -55px;
    width: 175px;
    height: 35px;
    background-color:#242e3f;
    border: 1px solid #87B4E5;
    border-top-style: none;
    text-overflow: auto;
  }
  .q3-last{
    text-align: left;
    padding-left: 5%;
    padding-top: 3.5%;
  }
  .q3-p-change{
    text-align: right;
    margin-top: 3.5%;
    margin-left: 50px;
  }
  .q4-main{
    margin-top: 25px;
    margin-left: -55px;
    width: 175px;
    height: 125px;
    background-color:#242e3f;
    border: 1px solid #87B4E5;
  }
  .q4-main:hover{
    background-color: #8856a7;
    cursor: pointer;
  }
  .q4{
    margin-left: 64.8%;
    margin-top: 1%;
  }
  .q4-symbol{
    margin-top: 20px;
    text-align: center;
  }
  .q4-name{
    font-size: 11px;
    text-align: center;
  }
  .q4-bottom{
    display: inline-flex;
    margin-left: -55px;
    width: 175px;
    height: 35px;
    background-color:#242e3f;
    border: 1px solid #87B4E5;
    border-top-style: none;
    text-overflow: auto;
  }
  .q4-last{
    padding-left: 5%;
    padding-top: 3.5%;
  }
  .q4-p-change{
    margin-top: 3.5%;
    margin-left: 71px;
  }
  .q5-main{
    margin-top: -96.5%;
    width: 175px;
    height: 125px;
    background-color:#242e3f;
    border: 1px solid #87B4E5;
  }
  .q5-main:hover{
    background-color: #8856a7;
    cursor: pointer;
  }
  .q5-symbol{
    margin-top: 20px;
    text-align: center;
  }
  .q5-name{
    font-size: 12px;
    text-align: center;
  }
  .q5-bottom{
    display: inline-flex;
    width: 175px;
    height: 35px;
    background-color:#242e3f;
    border: 1px solid #87B4E5;
    border-top-style: none;
    text-overflow: auto;
  }
  .q5-last{
    text-align: left;
    padding-left: 5%;
    padding-top: 3.5%;
  }
  .q5-p-change{
    text-align: right;
    margin-top: 3.5%;
    margin-left: 67px;
  }
  .q6-main{
    margin-top: -71.5%;
    margin-left: -43.8%;
    width: 175px;
    height: 125px;
    background-color:#242e3f;
    border: 1px solid #87B4E5;
  }
  .q6-main:hover{
    background-color: #8856a7;
    cursor: pointer;
  }
  .q6-symbol{
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
  }
  .q6-name{
    font-size: 9px;
    text-align: center;
  }
  .q6-bottom{
    display: inline-flex;
    width: 175px;
    height: 35px;
    margin-left: -43.8%;
    background-color:#242e3f;
    border: 1px solid #87B4E5;
    border-top-style: none;
    text-overflow: auto;
  }
  .q6-last{
    text-align: left;
    padding-left: 5%;
    padding-top: 3.5%;
  }
  .q6-p-change{
    text-align: right;
    margin-top: 3.5%;
    margin-left: 48px;
  }
 
}

